body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../img/capa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.geral {
    background-image: url('../img/capa2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 90vw;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 8px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px #ef5ea3;
}

nav a:hover {
    color: blue;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    height: calc(90vh - 120px);
}

.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 0px #ef5ea3;
    font-weight: bold;
}

.text h1 {
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
}

.text p {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

.imagem {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

}

.imagem img {
    width: 200px;
}


.imagem button {
    margin-top: 50px;
    font-size: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ef5ea3;
    border: 1px solid #ef5ea3;
}

.imagem button:hover {
    background-color: blue;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 0px;
}

.mm-line {
    margin: 3px 0px;
    height: 3px;
    background-color: blue;
}

@media (max-width:845px) {
    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 20px;
    }
}

@media (max-width:640px) {
    .text h1 {
        font-size: 25px;
    }

    .text p {
        font-size: 16px;
    }

    .imagem button {
        margin-top: 20px;
        width: 100px;
        padding: 5px;
    }

}

@media (max-width:600px) {
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 5%;
        width: 90%;
        background-color: #ef5ea3;
    }

    header {
        height: auto;
    }

    .logo img {
        margin-left: 40px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:425px) {
    .conteudo {
        flex-direction: column;
    }

    body {
        height: 150vh;
    }

    .geral {
        height: 90%;
    }

    .imagem {
        margin-top: 50px;
    }
}

@media (min-width:1440px) {
    .text p {
        font-size: 35px;

    }

    .text h1 {
        font-size: 50px;
    }

    .imagem img {
        width: 300px;
    }

    header {
        height: auto;
    }

    nav ul,
    nav li {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 25px;
    }

    .logo img {
        width: 150px;
        height: 150px;
    }

    .imagem button {
        width: 250px;
        font-size: 30px;
    }
}

@media (min-width:2000px) {
    .text p {
        font-size: 45px;

    }

    .text h1 {
        font-size: 60px;
    }

    .imagem img {
        width: 500px;
    }

    header {
        height: auto;
    }

    nav ul,
    nav li {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 35px;
    }

    .logo img {
        width: 200px;
        height: 200px;
    }

    .imagem button {
        width: 300px;
        font-size: 40px;
    }
}