body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(/assets/img/capa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.geral {
    background-image: url(/assets/img/capa2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 80vw;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 8px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 1px 1px #ef5ea3;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    display: flex;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}